name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    # ubuntu の環境でビルドテスト
    runs-on: ubuntu-latest

    timeout-minutes: 5 # 5分で強制停止
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.18
    - name: Test
      run: |
        make ONLY_GO=y check
        make ONLY_GO=y buildDB
